# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.cd
*.bak
*.qpf
*.qpg
*.qsf
*.kpt
*.qmsg
*.rdb
*.hsd
*.db_info
*.xml
*.qdb
*.vwf
*.xrf
*.sdo
*.vo
*.hdb
*.idb
*.html
*.dfp
*.hier_info
*.bpm
*.rpt
*.jdi
*.txt
*.logdb
*.dat
*.hif
*.ammdb
*.cdb
incremental_db/*.*
db/*.*
output_files/*.*
simulation/*.*
*.rcfdb
*.dpi
*.hb_info
*.sig
*.sft
incremental_db/README
